.App {
  text-align: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  position: absolute;
  left: 0;
}

#mainInput {
  position: fixed;
  bottom: 0;
  animation: popup-from-bottom;
  animation-duration: 1s;
  z-index: 100;
}

.GH-users-input {
  width: 250px;
  border: solid 1px silver;
  border-top-left-radius: 30px;
  border-right: none !important;
  padding: 20px;
}

.GH-users-button {
  padding: 20px;
  background-color: silver;
  border-top-right-radius: 30px;
  border: solid 1px silver;
}

ul {
  margin-top: 25px;
  margin-bottom: 100px;
  margin-left: 30px;
  margin-right: 30px;
  list-style-type: none;
  text-align: left;
}

li {
  position: relative;
  float: left;
  margin: 10px;
}

li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 5px;
  padding-left: 35px;
  padding-right: 35px;
  border: solid 1px gray;
  border-radius: 50px;
  transition: all 600ms;
}

li a:hover {
  color: white;
  /* background-color: black; */
  box-shadow: inset 0 0 0 15px black;
  transition: all 600ms;
}

hr {
  margin-top: 35px;
  margin-bottom: 20px;
  width: 80%;
  opacity: 0.4;
}

.mr {
  margin-right: 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes popup-from-bottom {
  from { bottom: -30px; }
  to { bottom: 0; }
}

#userTabList {
  position: relative;
  top: 25px;
}

input[type="text"]:focus, button:focus {
  outline: none;
}

@media screen and(max-width: 900px) {

  .animated-items-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.userTab {
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 10px;
  border: solid 1px gray;
  border-radius: 50px;
  position: relative;
  transition: all 300ms;
  animation: popup-from-top;
  animation-duration: 1s;
}

.userTab:hover {
  cursor: pointer;
  background-color: silver;
  transition: all 300ms;
}

@keyframes popup-from-top {
  from { top: -30px;}
  to { top: 0; }
}

img {
  height: 100px;
  border-radius: 100px;
}

@keyframes shrinka {
  from { top: -30px;}
  to { top: 0; }
}

a {
  color: black;
  transition: all 500ms;
}

.user-container a:hover {
  box-shadow: 0px 2px 2px #AAA;
  transition: all 500ms;
}

/*-------------------------------------------------------------------------------*/

.example-enter {
  transform: scale(0);
}

.example-enter.example-enter-active {
  transform: scale(1);
  transition: 500ms ease-in all;
}

.example-leave {
  transform: scale(1);
}

.example-leave.example-leave-active {
  transform: scale(0);
  transition: 500ms ease-in all;
}