.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.GH-users-input {
  position: fixed;
  bottom: 0;
  animation: popup-from-bottom;
  animation-duration: 1s;
  width: 250px;
  border: solid 1px black;
  border-top-left-radius: 30px;
  padding: 20px;
  border: solid 1px;
  border-left: 0;
}

.GH-users-button {
  position: fixed;
  bottom: 0;
  animation: popup-from-bottom;
  animation-duration: 1s;
  padding: 20px;
  background-color: silver;
  border-top-right-radius: 30px;
  border: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes popup-from-bottom {
  from { bottom: -30px; }
  to { bottom: 0; }
}

.userTab {
  padding: 15px;
  margin: 10px;
  background-color: gray;
}